html,
#root,
#root > div {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  background-repeat: repeat;
}

body {
  margin: 0;
  padding: 0;
  font-family: poppins-light;
  /* min-height: 100vh; */
  /* background-color: #2f1486; */
  /* background-image: linear-gradient(#44327e, #44327e); */
  /* background-image: url("../assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 140%; */
}
/* @media (max-width: 1586px) {
  body {
    margin: 0;
    padding: 0;
    font-family: poppins-light;
    /* min-height: 100vh; */
/* background-color: #2f1486; */
/* background-image: linear-gradient(#44327e, #44327e); */
/* background-size: cover; */
/* height: 160%; */
/* } */
/* } */

/* @media (max-width: 1440px) {
  body {
    margin: 0;
    padding: 0;
    font-family: poppins-light;
    background-image: linear-gradient(#44327e, #44327e);
    height: 140%;
  }
} */
/* @media (max-width: 899px) {
  body {
    margin: 0;
    padding: 0;
    font-family: poppins-light;
    background-image: linear-gradient(#44327e, #44327e);
    height: 280% !important;
  }
} */

#content {
  /* background-color: #44327E; */
  /* background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(255, 255, 255, 0.05) 25%,
      rgba(255, 255, 255, 0.05) 26%,
      transparent 27%,
      transparent 74%,
      rgba(255, 255, 255, 0.05) 75%,
      rgba(255, 255, 255, 0.05) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(255, 255, 255, 0.05) 25%,
      rgba(255, 255, 255, 0.05) 26%,
      transparent 27%,
      transparent 74%,
      rgba(255, 255, 255, 0.05) 75%,
      rgba(255, 255, 255, 0.05) 76%,
      transparent 77%,
      transparent
    ); */
  /* height: 100%; */
  /* background-size: 50px 50px; */
}
