.navbar-container NavLink {
  text-decoration: none;
}
@media (max-width: 465px) {
  .navbar-container {
    background-color: rgb(35, 33, 80);
    padding-bottom: 10px;
  }
}
.navbar {
  z-index: 10;
}
.navbar-nav {
  margin-bottom: 20px;
}
.navbar-logo {
  width: 100%;
  height: 100px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  background-color: rgba(35, 33, 82, 0.8) !important;
  backdrop-filter: blur(6px);
  border: 1px solid rgb(85, 18, 140) !important;
  margin-top: 15px !important;
}
.nav-drop-down11 {
  border-bottom: 1px solid rgb(85, 18, 140) !important;
  margin-top: -15px !important;
}

.nav-drop-down {
  border-bottom: 1px solid rgb(85, 18, 140) !important;
}
.nav-drop-down12 {
  margin-top: -15px !important;
  padding-bottom: -15px !important;
  margin-bottom: -25px !important;
}

.navdropdown-image .dropdown-toggle::after {
  border: 1px solid white;
  /* content: url('/public/images/profile.png'); */
  padding: 5px 8px;
  border-radius: 50px;
}
.navdropdown-image a {
  padding-right: 1rem !important;
}
@media (max-width: 465px) {
  .nav-drop-down11 {
    margin-top: 1px !important;
  }
  .nav-drop-down12 {
    margin-top: 1px !important;
    margin-bottom: 2px !important;
  }
}

.navbar-logo1 {
  position: absolute;
  width: 25%;

  height: 75px;
}
.navbar-logo2 {
  position: relative;
  width: 90%;
  -webkit-border-radius: 30%;
  -moz-border-radius: 30%;
  height: 75px;
  margin-left: 40%;
}
@media (max-width: 1440px) {
  .navbar-logo1 {
    position: absolute;
    width: 17% !important;
    height: 50px;
  }
  .navbar-logo2 {
    position: relative;
    width: 100% !important;
    height: 50px;
    margin-left: 15% !important;
  }
}
@media (max-width: 500px) {
  .navbar-logo1 {
    position: absolute;
    width: 40% !important;

    height: 50px;
  }
  .navbar-logo2 {
    position: relative;
    width: 60% !important;

    height: 50px;
    margin-left: 20% !important;
  }
}
@media (max-width: 750px) {
  .navbar-logo1 {
    position: absolute;
    width: 30% !important;

    height: 80px;
  }
  .navbar-logo2 {
    position: relative;
    width: 90% !important;

    height: 50px;
    margin-left: 20% !important;
  }
}
/* @media (min-width: 450px) {
  .navbar-logo1 {
    position: absolute;
    width: 35%;
    height: 50px;
  }
  .navbar-logo2 {
    position: relative;
    width: 100%;
    height: 50px;
    margin-left: 20px;
  }
} */
@media (max-width: 1024px) {
  .navbar-logo1 {
    position: absolute;
    width: 35%;
    height: 50px;
  }
  .navbar-logo2 {
    position: relative;
    width: 100%;
    height: 50px;
    margin-left: 50%;
  }
}

@media (max-width: 700px) {
  .navbar-logo {
    width: 150px;
  }
}
@media (max-width: 465px) {
  .navbar-logo1 {
    position: absolute;
    width: 55% !important;
    height: 50px;
  }
  .navbar-logo2 {
    position: relative;
    width: 90% !important;
    /* -webkit-border-radius: 50%;
    -moz-border-radius: 50%; */
    height: 50px;
    margin-left: 10% !important;
  }
  .navbar-nav {
    gap: 1.5rem;
  }
}
@media (max-width: 550px) {
  .navbar-logo1 {
    position: absolute;
    width: 50% !important;
    height: 50px;
  }
  .navbar-logo2 {
    position: relative;
    width: 100%;
    height: 50px;
    margin-left: 50%;
  }
}

@media (max-width: 700px) {
  .navbar-logo1 {
    position: absolute;
    width: 45% !important;
    height: 50px;
  }
  .navbar-logo2 {
    position: relative;
    width: 100%;
    height: 50px;
    margin-left: 50%;
  }
}

@media (max-width: 950px) {
  .navbar-logo1 {
    position: absolute;
    width: 40% !important;
    height: 50px;
  }
  .navbar-logo2 {
    position: relative;
    width: 100%;
    height: 50px;
    margin-left: 50%;
  }
}

@media (max-width: 435px) {
  .navbar-logo1 {
    position: absolute;
    width: 50% !important;
    height: 50px;
  }
  .navbar-logo2 {
    position: relative;
    width: 90% !important;
    /* -webkit-border-radius: 50%;
    -moz-border-radius: 50%; */
    height: 50px;
    margin-left: 10px !important;
  }
}

@media (max-width: 365px) {
  .navbar-logo1 {
    position: absolute;
    width: 55% !important;

    height: 50px;
  }
  .navbar-logo2 {
    position: relative;
    width: 80% !important;
    /* -webkit-border-radius: 50%;
    -moz-border-radius: 50%; */
    height: 50px;
    margin-left: 10px !important;
  }
}
